doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href='stylesheets/androidstudio.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='javascripts/highlight.pack.js' type='text/javascript')
        script.
            hljs.initHighlightingOnLoad();
    body
        block content
